:root {
    --color_header: rgba(117, 145, 248, 1);
    --color_green: rgba(25, 101, 42, 0.9);
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
}

body._lock {
    overflow: hidden;
}

a {
    color: #fff;
    display: block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color_header);
    z-index: 10;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    margin: 0 auto;
}

.header__logo {
    background: url(../img/logo.png);
    background-size: cover;
    margin-left: 30px;
    margin-right: 120px;
    width: 60px;
    height: 60px;
    transition: .5s;
    z-index: 3;
}

.header__logo:hover {
    transform: scale(1.2);
}

.header__phone {
    display: none;
    z-index: 10;
    font-size: 24px;
    position: relative;
}

.header__phone a::before {
    position: absolute;
    left: -1.8em;
    content: '';
    width: 30px;
    height: 30px;
    background: url(../img/phone.png);
    background-size: cover;
}

.menu__icon {
    display: none;
    margin-right: 30px;
}

.menu__body {
    box-sizing: border-box;
}

.menu__list {
    list-style: none;
}

.menu__list>li {
    position: relative;
    margin: 0px 0px 0px 30px;
}

.menu__link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
}

body._touch .menu__list>li {
    display: flex;
    align-items: center;
}

body._touch .menu__link {
    flex: 1 1 auto;
}

.tocall {
    color: #fff;
    margin-right: 20px;
    line-height: 140%;
    text-align: right;
    font-size: 20px;
}

.tocall a {
    text-decoration: underline;
}

main {
    margin-top: 80px;
}

@media screen and (min-width: 1001px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .tocall {
        display: none;
    }

    .header__phone {
        display: flex;
        ;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 80px;
        background-color: var(--color_green);
        z-index: 2;
    }

    .menu__list>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }

    .menu__list>li:last-child {
        margin-bottom: 0px;
    }

    .menu__link {
        font-size: 24px;
    }

}